{
  "annotations": {
    "list": [
      {
        "builtIn": 1,
        "datasource": {
          "type": "grafana",
          "uid": "-- Grafana --"
        },
        "enable": true,
        "hide": true,
        "iconColor": "rgba(0, 211, 255, 1)",
        "name": "Annotations & Alerts",
        "type": "dashboard"
      }
    ]
  },
  "editable": true,
  "fiscalYearStartMonth": 0,
  "graphTooltip": 0,
  "id": 0,
  "links": [],
  "panels": [
    {
      "datasource": {
        "type": "influxdb-adecwatts-datasource",
        "uid": "{{ datasource_uid }}"
      },
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "palette-classic"
          },
          "custom": {
            "axisBorderShow": false,
            "axisCenteredZero": false,
            "axisColorMode": "text",
            "axisLabel": "",
            "axisPlacement": "auto",
            "barAlignment": 0,
            "barWidthFactor": 0.6,
            "drawStyle": "line",
            "fillOpacity": 21,
            "gradientMode": "opacity",
            "hideFrom": {
              "legend": false,
              "tooltip": false,
              "viz": false
            },
            "insertNulls": false,
            "lineInterpolation": "smooth",
            "lineStyle": {
              "fill": "solid"
            },
            "lineWidth": 1,
            "pointSize": 5,
            "scaleDistribution": {
              "type": "linear"
            },
            "showPoints": "auto",
            "showValues": false,
            "spanNulls": false,
            "stacking": {
              "group": "A",
              "mode": "none"
            },
            "thresholdsStyle": {
              "mode": "off"
            }
          },
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": 0
              },
              {
                "color": "red",
                "value": 80
              }
            ]
          },
          "unit": "watt"
        },
        "overrides": []
      },
      "gridPos": {
        "h": 16,
        "w": 24,
        "x": 0,
        "y": 0
      },
      "id": 1,
      "options": {
        "legend": {
          "calcs": [],
          "displayMode": "list",
          "placement": "bottom",
          "showLegend": true
        },
        "timezone": [
          "utc"
        ],
        "tooltip": {
          "hideZeros": false,
          "mode": "single",
          "sort": "none"
        }
      },
      "pluginVersion": "12.2.1",
      "targets": [
        {
          "dataset": "iox",
          "datasource": {
            "type": "influxdb-adecwatts-datasource",
            "uid": "{{ datasource_uid }}"
          },
          "editorMode": "code",
          "format": "time_series",
          "hide": false,
          "rawQuery": true,
          "rawSql": "SELECT\n  value AS \"SN\",\n  time,\n  CONCAT(device, ' - Ch: ', channel_name) as device_channel\nFROM\n  ${__dashboard.name}\nWHERE\n  CONCAT('Device: ', device, ' - Ch: ', channel_name) IN (${channels:singlequote})\nORDER BY time",
          "refId": "B",
          "sql": {
            "columns": [
              {
                "parameters": [],
                "type": "function"
              }
            ],
            "groupBy": [
              {
                "property": {
                  "type": "string"
                },
                "type": "groupBy"
              }
            ]
          }
        }
      ],
      "title": "Consommation par voie (W)",
      "type": "timeseries"
    }
  ],
  "preload": false,
  "schemaVersion": 42,
  "tags": [],
  "templating": {
    "list": [
      {
        "allowCustomValue": false,
        "current": {
          "text": "All",
          "value": "$__all"
        },
        "datasource": {
          "type": "influxdb-adecwatts-datasource",
          "uid": "{{ datasource_uid }}"
        },
        "definition": "SELECT DISTINCT\n  CONCAT('Device: ', device, ' - Ch: ', channel_name) AS field_label,\n  unit\nFROM\n  ${__dashboard.name}\nWHERE\n  time >= $__timeFrom\n  AND time <= $__timeTo\n  AND unit = 'W'\nORDER BY\n  field_label\n",
        "description": "Query all channels available",
        "includeAll": true,
        "multi": true,
        "name": "channels",
        "options": [],
        "query": {
          "query": "SELECT DISTINCT\n  CONCAT('Device: ', device, ' - Ch: ', channel_name) AS field_label,\n  unit\nFROM\n  ${__dashboard.name}\nWHERE\n  time >= $__timeFrom\n  AND time <= $__timeTo\n  AND unit = 'W'\nORDER BY\n  field_label\n",
          "refId": "InfluxVariableQueryEditor-VariableQuery"
        },
        "refresh": 2,
        "regex": "",
        "type": "query"
      }
    ]
  },
  "time": {
    "from": "2025-10-11T09:56:07.500Z",
    "to": "2025-10-19T01:56:07.500Z"
  },
  "timepicker": {},
  "timezone": "utc",
  "title": "{{ dashboard_campaign_name }}",
  "uid": "",
  "version": 10,
  "weekStart": "monday"
}
